{% extends 'qpanalyze/base.html' %}

{% block mymessage %}
{% load static %}

<div class="pagetitle">
    <h1>Analyze By Text</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Analyze</li>
        <li class="breadcrumb-item active">Text</li>
      </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
      <div class="col-lg-12">
        <form method="POST" action="{% url 'abt' %}">
          {% csrf_token %}
          <div class="card">
              <div class="card-body">
                <h5 class="card-title">Questions</h5>
    
                <!-- Floating Labels Form -->
                <form class="row g-3">
                  <div class="col-md-12 mb-3">
                    <h6><label for="department">Department</label></h6>
                    <select class="form-select" aria-label="Departments" id="department" name="department" required>
                      <option selected>-- Select Department -- </option>
                      {% for department in departments %}
                        <option value="{{department.department_code}}">{{department}}</option>
                      {% endfor%}
                    </select>
                  </div>
                  
                  <div class="col-md-12 mb-3">
                    <h6><label for="semester">Semester</label></h6>  
                    <select class="form-select" aria-label="sem" id="semester" name="semester" required>
                      <option selected>-- Select Semester -- </option>
                      {% for value, label in semesters %}
                      <option value="{{value}}">{{label}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  
                  <div class="col-md-12 mb-3">
                    <h6><label for="exam_type">Exam Type</label></h6>  
                    <select class="form-select" aria-label="Exam Type" id="exam_type" name="exam_type" required>
                      <option selected>-- Select Exam Type --</option>
                      {% for value, label in exam_type %}
                      <option value="{{value}}">{{label}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  
                  <div class="col-md-12 mb-3">
                    <h6><label for="subject">Subject</label></h6>  
                    <select class="form-select" aria-label="Subject" id="subject" name="subject" required>
                      <option selected>-- Select Subject -- </option>
                      {% for value, label in subjects %}
                      <option value="{{value}}">{{label}}</option>
                      {% endfor %}
                    </select>
                  </div>

                  <div class="col-12 mb-3">
                    <h6><label for="questions">Questions</label></h6>  
                    <textarea class="form-control" id="question" name="question" style="height: 100px;"></textarea>
                  </div>
                
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary w-50">Generate Report</button>
                  </div>
                </form><!-- End floating Labels Form -->
                
              </div>
          </div>
        </form>

      </div>
      
    </div>
</section>

<script>
  $(document).ready(function() {
    function fetchSubjects() {
      var department_code = $('#department').val();
      var semester = $('#semester').val();

      if(department_code && semester){
        $.ajax({
          url: window.location.href,  // Call the same URL
          data: {
              'department_code': department_code,
              'semester': semester
          },
          dataType: 'json',
          success: function(data){
            $.each(data, function(index, subject) {
              console.log(subject);
              $('#subject').append('<option value="'+subject.subject_code+'">'+subject.subject_code + ' - ' + subject.subject_name +'</option>');
            });
          },
          error: function(error){
            console.error('Ajax Error: ', status, error);
          }
        });
      }
    }

    $('#department, #semester').change(function() {
      fetchSubjects(); 
    });
  });
</script>

{% endblock %} 