{% extends 'qpanalyze/base.html' %}

{% block mymessage %}
{% load static %}

<div class="pagetitle">
    <h1>Report</h1>
    {% comment %} <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Tables</li>
        <li class="breadcrumb-item active">General</li>
      </ol>
    </nav> {% endcomment %}
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
        <div class="col-lg">

            <div class="card">
            
            </div>
        </div>
    </div>

{% endblock %} 